<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Family Tree</title>
    <!-- Include CSS files here -->
  </head>
  <body>
    <h1>Welcome to the Family Tree App</h1>
    <h2>New Family Tree</h2>
    <p th:text="${message}"></p>
    <form
      style="display: flex; flex-direction: column; width: 50%; gap: 0.2rem"
      action="#"
      th:action="@{/addPerson}"
      th:object="${personForm}"
      method="post">
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" />
      <label for="motherName">Mother Name:</label>
      <input type="text" th:field="*{motherName}" />
      <label for="fatherName">Father Name:</label>
      <input type="text" th:field="*{fatherName}" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
